html,body
{
  font-family: 'Amatic SC', cursive;
    height: 100%;
}
body {
  background: #424649;
  display: table; 
  margin: 0 auto;
}
.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.text-style{
  color: white;
}

/* html, body{height:100%; width: 100%; margin:0;padding:0} */
.outer-block{
/*   height: 100vh;
   display: table;
   width: 100%; */
  display: table-cell;
   vertical-align: middle;
   text-align: center;
}
 
.inner-block {
  width: 125vh;
  height: 25vh;
/*   display: table-cell;
   vertical-align: middle;
   text-align: center; */
}
 
.quote{
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 45px;
}
.author{
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  font-size: 30px;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
